@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap");

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Barlow";
    scroll-behavior: smooth;
}

body {
    font-size: 18px;
    overflow-x: hidden;
}

.banner {
    height: 100vh;
    background-image: url("assets/desktop/image-header.jpg");
    background-position: center;
    background-size: cover;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    flex-wrap: wrap;
}

.nav > img {
    height: 30px;
    cursor: pointer;
}

.nav-items {
    display: flex;
    justify-content: space-around;
    margin: 5px;
    list-style: none;
    font-family: Barlow;
    transition: all 0.5s ease-in-out;
}

.nav-items > a {
    margin: auto 25px auto 25px;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.nav-items > a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.contact {
    font-family: fraunces;
    text-transform: uppercase;
    color: black;
    margin-left: 25px;
    cursor: pointer;
    padding: 20px;
    background: #fff;
    border-radius: 50px;
    font-size: 13px;
    font-weight: 900;
    transition: 250ms ease-in-out;
}

.contact:hover {
    color: hsl(0, 0%, 100%);
    background-color: rgba(255, 255, 255, 0.25);
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "fraunces";
    color: white;
    font-size: 25px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.hero-title {
    font-family: "Fraunces";
}

.down-arrow {
    position: absolute;
    bottom: 250px;
}

.transform {
    height: 500px;
    font-family: "Barlow";
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.transform > .left {
    width: 50%;
    height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 90px;
}

.transform > .left > .title {
    font-family: "Fraunces";
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 30px;
}

.transform > .left > .description {
    font-family: "Barlow";
    color: hsl(232, 10%, 55%);
    text-align: left;
    font-size: 20px;
}

.transform > .left > .learn {
    margin-top: 50px;
    text-align: left;
    font-family: "Fraunces";
    text-transform: uppercase;
    font-weight: 900;
    cursor: pointer;
    position: relative;
    width: 140px;
    display: block;
}

.transform > .left > .learn::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 10px;
    left: -5px;
    /* bottom : -20px;   For Bottom to Up Animation*/
    bottom: -2.5px;
    border-radius: 75px;
    background: #fad400;
    z-index: -9;
    /* opacity: 0   For Bottom to Up Animation; */
    opacity: 0.5;
    transition: 300ms ease-in-out;
}

.transform > .left > .learn:hover::before {
    /* bottom: -2.5px;  For Bottom to Up Animation*/
    opacity: 1;
}
.transform > .right {
    width: 50%;
    height: 500px;
    background-image: url("assets/desktop/image-transform.jpg");
    background-repeat: no-repeat;
}

.stand-out {
    height: 500px;
    font-family: "Barlow";
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.stand-out > .right {
    width: 50%;
    height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 90px;
}

.stand-out > .right > .title {
    font-family: "Fraunces";
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 30px;
}

.stand-out > .right > .description {
    font-family: "Barlow";
    color: hsl(232, 10%, 55%);
    text-align: left;
    font-size: 20px;
}

.stand-out > .right > .learn {
    margin-top: 50px;
    text-align: left;
    font-family: "Fraunces";
    text-transform: uppercase;
    font-weight: 900;
    cursor: pointer;
    position: relative;
    width: 140px;
    display: block;
}

.stand-out > .right > .learn::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 10px;
    left: -5px;
    /* bottom : -20px;   For Bottom to Up Animation*/
    bottom: -2.5px;
    border-radius: 75px;
    background: #fe7867;
    z-index: -9;
    /* opacity: 0   For Bottom to Up Animation; */
    opacity: 0.5;
    transition: 300ms ease-in-out;
}

.stand-out > .right > .learn:hover::before {
    /* bottom: -2.5px;  For Bottom to Up Animation*/
    opacity: 1;
}
.stand-out > .left {
    width: 50%;
    height: 500px;
    background-image: url("assets/desktop/image-stand-out.jpg");
    background-repeat: no-repeat;
}

.difference {
    width: 100%;
    height: 550px;
    font-family: "Barlow";
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.difference > .left {
    width: 50%;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding: 90px;
    background-image: url("assets/desktop/image-graphic-design.jpg");
    background-repeat: no-repeat;
}

.difference > .left > .title {
    font-family: "Fraunces";
    font-size: 40px;
    position: absolute;
    font-weight: 900;
    margin-bottom: 30px;
    bottom: 125px;
    color: #25564b;
}

.difference > .left > .description {
    font-family: "Barlow";
    color: #25564b;
    text-align: center;
    position: absolute;
    font-size: 18px;
    bottom: 75px;
    padding: 0 150px 0 150px;
}

.difference > .right {
    width: 50%;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding: 90px;
    background-image: url("assets/desktop/image-photography.jpg");
    background-repeat: no-repeat;
}

.difference > .right > .title {
    font-family: "Fraunces";
    font-size: 40px;
    position: absolute;
    font-weight: 900;
    margin-bottom: 30px;
    bottom: 125px;
    color: #19536b;
}

.difference > .right > .description {
    font-family: "Barlow";
    color: #19536b;
    text-align: center;
    position: absolute;
    font-size: 18px;
    bottom: 75px;
    padding: 0 150px 0 150px;
}

.testimonials {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
}

.testimonials > .title {
    margin-top: -15px;
    font-size: 18px;
    font-family: "Fraunces";
    font-weight: 900;
    color: #a7abae;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.client-testimonials {
    display: flex;
    flex-direction: row;
}

.testimonials > .client-testimonials > .client {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 75px;
}

.client > .client-img {
    border-radius: 50%;
    width: 100px;
    margin-bottom: 50px;
}

.client > .client-comment {
    font-size: 18px;
    text-align: center;
    color: #818498;
    padding: 0 15px 0 15px;
    margin-bottom: 50px;
}

.client > .client-name {
    font-family: "Fraunces";
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 10px;
}

.client > .client-designation {
    color: #a7abae;
    font-size: 0.7em;
}

.showcase {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    line-height: 0;
}

.showcase > .row {
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 418.7px;
}

.showcase > .row > div {
    background-size: cover;
    width: 50%;
    height: 100%;
}

.milkbottles {
    background-image: url("assets/desktop/image-gallery-milkbottles.jpg");
}

.orange {
    background-image: url("assets/desktop/image-gallery-orange.jpg");
}

.cone {
    background-image: url("assets/desktop/image-gallery-cone.jpg");
}

.sugarcubes {
    background-image: url("assets/desktop/image-gallery-sugarcubes.jpg");
}

.showcase > .row > img {
    display: inline-block;
    width: 18.735em;
}

#footer {
    background: #90d4c5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 6.5em;
    padding-bottom: 5em;
    float: none;
}

#footer > .footer-links {
    margin-top: 2.5em;
    margin-bottom: 4em;
}

#footer > .footer-links > a {
    text-decoration: none;
    padding: 0.5em;
    color: #2d7464;
    transition: 150ms ease-in-out;
}

#footer > .footer-links > a:hover {
    color: #fff;
}

#footer > .social-media > ion-icon {
    margin: 0.5em;
    cursor: pointer;
    transition: 150ms ease-in-out;
    color: #2c7566;
    font-size: 1.5em;
}

#footer > .social-media > ion-icon:hover {
    color: white;
}

#footer > #footer-logo {
    height: 2rem;
    cursor: pointer;
    transition: 250ms ease-in-out;
}

#footer-logo > path {
    fill: #2c7566;
    transition: 250ms ease-in-out;
}

#footer > #footer-logo:hover > path {
    fill: #fff;
}

.attribution {
    margin-top: 2em;
    background-color: white;
    padding: 2.5em;
    border-radius: 50px;
}

.attribution > span {
    overflow: hidden;
}

.attribution > a {
    position: relative;
    color: black;
    text-decoration: none;
    overflow: hidden;
    width: 150px;
    overflow: hidden;
    transition: 500ms ease-in-out;
    color: blue;
}

.attribution > a::before {
    content: "Front end Mentor";
    position: absolute;
    width: 150px;
    height: 50px;
    left: -75px;
    top: 0px;
    color: transparent;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: #f9c7c5;
    transition: 500ms ease-in-out;
    opacity: 0;
    visibility: hidden;
}

.attribution > a:hover::before {
    left: 0px;
    opacity: 1;
    visibility: visible;
}

/* Hamburger Menu */
#menu {
    --color: #fff;
    width: 36px;
    height: 36px;
    padding: 0;
    margin: 0;
    outline: none;
    position: relative;
    border: none;
    background: none;
    cursor: pointer;
    -webkit-appearence: none;
    -webkit-tap-highlight-color: transparent;
    display: none;
}
#menu svg {
    width: 64px;
    height: 48px;
    top: -6px;
    left: -14px;
    stroke: var(--color);
    stroke-width: 4px;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    display: block;
    position: absolute;
}
#menu svg path {
    transition: stroke-dasharray var(--duration, 0.85s) var(--easing, ease)
            var(--delay, 0s),
        stroke-dashoffset var(--duration, 0.85s) var(--easing, ease)
            var(--delay, 0s);
    stroke-dasharray: var(--array-1, 26px) var(--array-2, 100px);
    stroke-dashoffset: var(--offset, 126px);
    transform: translateZ(0);
}
#menu svg path:nth-child(2) {
    --duration: 0.7s;
    --easing: ease-in;
    --offset: 100px;
    --array-2: 74px;
}
#menu svg path:nth-child(3) {
    --offset: 133px;
    --array-2: 107px;
}
#menu.active svg path {
    --offset: 57px;
}
#menu.active svg path:nth-child(1),
#menu.active svg path:nth-child(3) {
    --delay: 0.15s;
    --easing: cubic-bezier(0.2, 0.4, 0.2, 1.1);
}
#menu.active svg path:nth-child(2) {
    --duration: 0.4s;
    --offset: 2px;
    --array-1: 1px;
}
#menu.active svg path:nth-child(3) {
    --offset: 58px;
}

/* Media Queries */
@media screen and (max-width: 767px) {
    /* Nav and Hero section */
    #menu {
        display: block;
    }
    .nav-items {
        --scale: 0;
        transform-origin: top right;

        position: absolute;
        display: none;
        flex-direction: column;
        width: 100%;
        height: 300px;
        padding-left: 20px;
        padding-right: 20px;
        transition: all 150ms ease-in-out;
        z-index: 999;
    }

    .nav-items > a {
        margin: 7.5px !important;
        color: #a7abae !important;
        display: table;
        line-height: 50px;
    }

    .nav-items.visible {
        margin-top: 30px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        --scale: 1;
        transition: all 150ms ease-in-out;
    }

    .hero-title {
        text-align: center;
    }

    .hero-title.visible,
    .down-arrow.visible {
        visibility: hidden;
    }

    .nav-items.visible::after {
        position: absolute;
        content: "";
        top: -0rem;
        right: 0%;
        transform: translateY(-50%);
        border: 25px solid transparent;
        border-right-color: white;
    }

    .nav-items > .contact {
        margin: 10px 5px 5px 5px;
        color: black;
        background-color: #fad400;
        font-weight: 900;
    }

    .nav-items > .contact:hover {
        color: white;
        background: #3ebfff;
    }

    .banner {
        background-image: url("assets/mobile/image-header.jpg");
    }

    /* Transform Section */
    .transform {
        flex-direction: column-reverse;
        height: auto;
    }
    .transform > .right {
        width: 100%;
        background-image: url("assets/mobile/image-transform.jpg");
        background-size: cover;
    }
    .transform > .left {
        justify-content: center;
        align-items: center;
        width: auto;
        padding: 65px;
    }
    .transform > .left > .title {
        text-align: center;
    }
    .transform > .left > .description {
        text-align: center;
        padding: 0;
        width: 100%;
    }
    /* Stand Out Section */
    .stand-out {
        flex-direction: column;
        height: auto;
    }
    .stand-out > .left {
        width: 100%;
        background-image: url("assets/mobile/image-stand-out.jpg");
        background-size: cover;
    }
    .stand-out > .right {
        justify-content: center;
        align-items: center;
        width: auto;
        padding: 65px;
    }
    .stand-out > .right > .title {
        text-align: center;
    }
    .stand-out > .right > .description {
        text-align: center;
        padding: 0;
        width: 100%;
    }

    /* Differnce Section */
    .difference {
        flex-direction: column;
        height: 1600px !important;
    }

    .difference > .left {
        width: 100%;
        height: 50% !important;
        background-image: url("assets/mobile/image-graphic-design.jpg");
        background-size: cover;
        object-fit: fill;
    }

    .difference > .left > .description {
        padding: 0;
    }

    .difference > .right {
        width: 100%;
        height: 50% !important;
        background-image: url("assets/mobile/image-photography.jpg");
        background-size: cover;
        object-fit: fill;
    }

    .difference > .right > .description {
        padding: 0;
    }

    /* Testimonials Section */
    .testimonials {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .client-testimonials {
        flex-direction: column;
    }
    /* Showcase Section */
    .showcase {
        flex-direction: column;
        height: calc(241px * 2);
    }
    .showcase > .row {
        flex-direction: row;
        width: 100%;
        height: 241px;
    }
    .showcase > .row > .img {
        background-size: 100%;
        background-repeat: no-repeat;
        height: 241px;
    }
    .cone {
        background-image: url("assets/mobile/image-gallery-cone.jpg") !important;
        width: 50%;
    }
    .milkbottles {
        background-image: url("assets/mobile/image-gallery-milkbottles.jpg") !important;
        width: 50%;
    }
    .orange {
        background-image: url("assets/mobile/image-gallery-orange.jpg") !important;
        width: 50%;
    }
    .sugarcubes {
        background-image: url("assets/mobile/image-gallery-sugarcubes.jpg") !important;
        width: 50%;
    }
}
